body {
    background: linear-gradient(steelblue, cadetblue);
    font-family: "Helvetica", sans-serif;
    color: MidnightBlue;
}

hr{
  height: 2px;
  background-color: steelblue;
  border: none;
}

.photo{
  box-shadow: 4px 4px 4px MidnightBlue;
  height: 80%;
  width: 80%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.arthphoto{
  box-shadow: 4px 4px 4px MidnightBlue;
  height: 10%;
  width: 20%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.artphoto{
  box-shadow: 4px 4px 4px MidnightBlue;
  height: 40%;
  width: 40%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}

h1{
  font-size: 50px;
  color: oldlace;
  padding:5px;
  text-align:center;
  text-shadow: 2px 2px midnightblue;
}

h2{
  font-size:35;
  padding:5px;
  color: steelblue;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  width: 80%;
}

h3{
  font-size:30;
  color:steelblue;
  padding:5px;
  text-align:center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
h4{
  font-size:20;
  color:midnightblue;
  padding:5px;
  text-align:center;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
}


.column1{
  width:49%;
  float: left;
}

.column2{
  width:49%;
  float:right;
}

.item{
  margin: 25px;
}

.item2{
  border: 3px inset MidnightBlue;
  margin: 30px;
  background-color: oldlace;
  float:right;
  border-radius: 10px;
}


nav ul {
    background-color: oldlace;
    border-style: solid;
    border-color: MidnightBlue;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
  }

    h4 ul li {

      list-style-type: none;
        display: inline;
        margin-right: 30px;
        margin-left: 30px;
        color: Steelblue;
        float: center;

    }

    h4 ul li a {
      text-decoration: none;
      color: midnightblue;
      font-size: 110%;
  }
  h4 ul li a:hover {
    color: steelblue;
  }

    nav ul li {
        list-style-type: none;
        display: inline;
        margin-right: 30px;
        margin-left: 30px;
        color: Steelblue;
    }
    nav ul li a {
      text-decoration: none;
      color: midnightblue;
      font-size: 110%;
  }
  nav ul li a:hover {
    color: Steelblue;
  }

.darkerBackground {
  background-color: #99bbff;
}

.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F5FFFA;
  padding-bottom: 10px;
}


.stylishBox {
  background-color: #c1ebec;
  color: #A52A2A;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
}

.someSpacing {
  padding: 10px;
  margin-top: 20px;
}

.smallPictures {
  width: 100px;
}

.mediumPictures {
  width: 200px;
}

.niceLinks {
  text-decoration: none;
  color: Steelblue;
}
.niceLinks:hover {
  color: #00FF7F;
}

p {
  margin: 10;
  font-size: 110%;
  line-height: 150%;
  color: midnightblue;
}